!!! 5
%html{"xmlns:og" => "http://ogp.me/ns#", "xmlns:fb" => "https://www.facebook.com/2008/fbml"}
  %head
    %title= data.page.title
    %meta{:property => "og:title", :content => "Look at Ludlow"}
    %meta{:property => "og:type", :content => "website"}
    %meta{:property => "og:url", :content => "http://lookatludlow.org/"}
    %meta{:property => "og:image", :content => "http://lookatludlow.org/images/rotate/IMG_0006.jpg"}
    %meta{:property => "og:site_name", :content => "Look at Ludlow!"}
    %meta{:property => "fb:admins", :content => "515610404"}
    %meta{:property => "og:description", :content => "Ludlow, KY has a lot to offer. Come see why!"}
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %link{:href => "/images/favicon.ico", :rel => "icon", :type => "image/x-icon"}
    %link{:href => '//fonts.googleapis.com/css?family=Vollkorn:regular:bold', :rel => 'stylesheet', :type => 'text/stylesheet'}
    %link{:href => 'stylesheets/site.css', :rel => 'stylesheet', :type => 'text/stylesheet', :media => 'screen, projector'}
    /[if lte IE 6]
      %link{:href => 'stylesheets/ie.css', :rel => 'stylesheet', :type => 'text/stylesheet', :media => 'screen, projection'}
  %body
    .container
      .row
        %header.columns.twelve
          %h1= link_to("Look at Ludlow!", '/', title: 'Look at Ludlow!')
    - if request.path == "/" || request.path == "index.html"
      .container.slideshow= partial "slideshow"
    .container.main
      .row
        #content.columns.twelve
          - if request.path == "/" || request.path == "index.html"
            %fb:like{href: "lookatludlow.org", show_faces: "true", width: "650", font: ""}
          = yield(:content)
      .row
        %footer.columns.twelve
          %p
            Look at Ludlow is paid for by citizens of Ludlow.
            for more information.
    %script{:src => '//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'}
    %script{:src => 'javascripts/jquery.orbit-1.4.0.js'}
    #fb-root
    %script{:src => '//connect.facebook.net/en_US/all.js'}
    :javascript
      WebFontConfig = {
        google: { families: [ 'Vollkorn', 'Molengo' ] }
      };

      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();

      $(document).ready(function() {
        $('#slideshow').orbit({
          directionalNav: false,
          animation: 'fade'
        });
        #{content_for?(:javascript) ? content_for(:javascript) : nil}
      });

      FB.init({
        appId  : '202940339730752',
        status : true, // check login status
        cookie : true, // enable cookies to allow the server to access the session
        xfbml  : true  // parse XFBML
      });

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-636525-17']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
